@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=IBM+Plex+Serif&display=swap');

:root {
  --principal: #FF94CC;
  --secundario: #7C83FD;
  --fondo: #FFFFFF;
  --resaltar: #59569D;
  --baseOscuro: #433A3F;
}

::selection {
  color: var(--fondo);
  background-color: var(--resaltar);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Serif', serif;
  color: var(--baseOscuro);
}

body {
  background-image: linear-gradient(var(--principal), var(--secundario));
}

h1, h2 {
  font-family: 'IBM Plex Sans', sans-serif;
}

header {
  text-align: center;
}

header h1 {
  margin-top: 30px;
  margin-bottom: 10px;
}

main {
  padding: 40px;
  min-height: calc(100vh - 168px);
}

h2 {
  margin-bottom: 10px;
}

p, label, input {
  margin-bottom: 5px;
}

section {
  padding: 30px;
  /* background-color: var(--fondo); */
  border-radius: 20px;
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 2px solid var(--fondo);
  border-radius: 10px;
  outline: none;
}

input:focus {
  border-color: var(--resaltar);
}

input::selection {
  color: var(--fondo);
  background-color: var(--resaltar);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 12px 10px;
  border-radius: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
  color: var(--fondo);
  background-color: var(--secundario);
}

button:hover {
  background-color: var(--resaltar);
}

.resultado {
  margin-top: 15px;
  background-color: var(--fondo);
  padding: 10px 15px;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 15px;
}

footer p { 
  color: var(--fondo);
}